.toolbar {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background: $toolbar-color;
  color: $toolbar-header-font-color;
  height: 56px;
  box-shadow: 0 0 11px rgba(0,0,0,0.4);

  @media (min-width: 600px) {
    height: 72px;
  }

  & .site-title {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-left: 16px;
    @media (min-width: 600px) {
      margin-left: 24px;
      font-size: 1.3rem;
    }
  }
}
